form {
  div {
    h3 {
      direction: rtl;
    }
    div {
      margin-block: 0.5rem;
      direction: rtl;
      label {
        margin-block: 0.3rem;
        font-size: 13pt;
        font-weight: 500;
      }
    }
    button {
      background-color: #aa0304;
      color: #fff;
    }
  }
}

::ng-deep p-checkbox {
  label {
    margin: 0;
    margin-right: 1rem;
  }
}

::ng-deep .p-datepicker-header {
  flex-direction: row-reverse;
}
