::ng-deep p-checkbox {
  label {
    margin: 0;
    margin-right: 1rem;
  }
}

::ng-deep .p-datepicker-header {
  flex-direction: row-reverse;
}
::ng-deep .p-inputtext.ng-dirty.ng-invalid:focus {
  border: 1px solid #aa0304;
}
