<main class="w-full h-full bg-blue-50">
  <form
    [formGroup]="mainFormGroup"
    class="w-full h-full m-0"
    (ngSubmit)="submit()"
  >
    <div id="persoanl-info" class="col-7 mx-auto" formGroupName="personalInfo">
      <span style="color: #aa0304; background: #aa0304; font-size: 16pt"
        >.</span
      >
      <h3>مشخصات فردی</h3>
      <div>
        <label class="block" requiredAsterisk>جنسیت</label>
        <p-dropdown
          [options]="gender"
          formControlName="gender"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
      </div>
      <div>
        <label class="block" requiredAsterisk>نام</label>
        <input
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="First Name"
          class="w-8"
          invalidState="firstName"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>نام خانوادگی</label>
        <input
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Last Name"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>تاریخ تولد</label>
        <p-calendar
          formControlName="birthDate"
          [showIcon]="true"
          inputId="icon"
          class="w-8"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </div>
      <div>
        <label class="block" requiredAsterisk>محل تولد</label>

        <input
          type="text"
          pInputText
          formControlName="placeOfBirth"
          placeholder="Place Of Birth"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>کد ملی</label>
        <p-inputNumber
          formControlName="nationalCode"
          placeholder="National Code"
          [useGrouping]="false"
          class="w-8"
        ></p-inputNumber>
      </div>
      <div class="grid">
        <label class="block ml-5" requiredAsterisk>وضعیت تاهل</label>
        <p-radioButton
          name="marriageStatus"
          value="married"
          label="متاهل"
          formControlName="marriageStatus"
          class="col-3"
          labelStyleClass="mx-3"
        ></p-radioButton>
        <p-radioButton
          name="marriageStatus"
          value="notMarried"
          label="مجرد"
          formControlName="marriageStatus"
          class="col-3"
          labelStyleClass="mx-3"
        ></p-radioButton>
      </div>
      <div>
        <label class="block" requiredAsterisk>شهر محل سکونت</label>
        <input
          type="text"
          pInputText
          formControlName="lodging"
          placeholder="Lodging"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>محله محل سکونت</label>
        <input
          type="text"
          pInputText
          formControlName="neighborhood"
          placeholder="Neighborhood"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>تلفن همراه</label>
        <input
          type="text"
          pInputText
          formControlName="phoneNumber"
          placeholder="Phone Number"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>ایمیل</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          placeholder="Email"
        />
      </div>
    </div>
    <div id="ed-bg" class="col-7 mx-auto" formGroupName="educationalInfo">
      <h3>سوابق تحصیلی</h3>
      <div>
        <label class="block" requiredAsterisk>آخرین مدرک تحصیلی</label>
        <p-dropdown
          [options]="educationGrade"
          formControlName="lastEducationalGrade"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
      </div>
      <div>
        <label class="block" requiredAsterisk>رشته تحصیلی</label>
        <input
          type="text"
          pInputText
          formControlName="major"
          placeholder="Major"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>نام موسسه اموزشی</label>
        <input
          type="text"
          pInputText
          formControlName="nameOfFacility"
          placeholder="Name Of Facility"
          class="w-8"
        />
      </div>
      <div>
        <label class="block" requiredAsterisk>شهر محل تحصیل</label>
        <input
          type="text"
          pInputText
          formControlName="facilityLocation"
          placeholder="Facility Location"
          class="w-8"
        />
      </div>
      <div>
        <label class="block">تاریخ فراغت از تحصیل</label>
        <p-calendar
          formControlName="graduationDate"
          [showIcon]="true"
          inputId="icon"
          class="w-8"
          dateFormat="dd/mm/yy"
        ></p-calendar>
      </div>
      <div class="grid checkbox">
        <p-checkbox
          class="col-2 w-3"
          name="stockCertificates"
          value="cert1"
          formControlName="stockCertificates"
          label="اصول بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-4"
          name="stockCertificates"
          value="cert2"
          formControlName="stockCertificates"
          label="مدیریت نهادهای بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-4"
          name="stockCertificates"
          value="cert3"
          formControlName="stockCertificates"
          label="کارشناسی عرضه و پذیرش"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-4"
          name="stockCertificates"
          value="cert4"
          formControlName="stockCertificates"
          label="تحلیل گری بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-3"
          name="stockCertificates"
          value="cert5"
          formControlName="stockCertificates"
          label="ارزشیابی اوراق بهادار"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-4"
          name="stockCertificates"
          value="cert6"
          formControlName="stockCertificates"
          label="مدیریت سبد اوراق بهادار"
        ></p-checkbox>
        <p-checkbox
          class="col-2 w-4"
          name="stockCertificates"
          value="cert7"
          formControlName="stockCertificates"
          label="معامله گری بازار سرمایه"
        ></p-checkbox>
      </div>
      <div>
        <textarea
          pInputTextarea
          formControlName="otherCertificates"
          placeholder="سایر دوره ها"
          class="w-8"
        ></textarea>
      </div>
      <div>
        <label class="block" requiredAsterisk>آشنایی با زبان انگلیسی</label>
        <p-dropdown
          [options]="englishKnowledge"
          formControlName="englishKnowledge"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
      </div>
    </div>
    <div id="work-exp" class="col-7 mx-auto" formGroupName="workExperience">
      <h3>سوابق کاری</h3>
      <div>
        <label class="block" requiredAsterisk> سابقه کاری</label>
        <p-dropdown
          [options]="workExperience"
          formControlName="availability"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
      </div>
      <div *ngIf="isWorkExpAvailable">
        <div id="job-1" formGroupName="job1">
          <h3 class="block">
            سابقه فعالیت کاری خود در دو محل کاری قبلی خود را اعلام نمایید:
          </h3>
          <label class="block">محل کار شماره 1</label>
          <div>
            <input
              type="text"
              pInputText
              formControlName="companyName"
              placeholder="نام محل کار"
              class="w-8"
            />
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="fieldOfActivity"
              placeholder="زمینه فعالیت"
              class="w-8"
            />
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="jobTitle"
              placeholder="عنوان شغلی"
              class="w-8"
            />
          </div>
          <div>
            <label class="block" requiredAsterisk>تاریخ شروع به کار</label>
            <p-calendar
              formControlName="startDate"
              [showIcon]="true"
              inputId="icon"
              class="w-8"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
          <div>
            <label class="block" requiredAsterisk>تاریخ خاتمه به کار</label>
            <p-calendar
              formControlName="endDate"
              [showIcon]="true"
              inputId="icon"
              class="w-8"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="description"
              placeholder="علت خاتمه به کار"
              class="w-8"
            />
          </div>
          <div>
            <label class="block">رضایت نامه</label>
            <p-dropdown
              [options]="consentLetter"
              formControlName="consentLetter"
              optionLabel="name"
              optionDisabled="inactive"
              class="w-4"
            ></p-dropdown>
          </div>
        </div>
        <div id="job-2" formGroupName="job2">
          <label class="block">محل کار شماره 2</label>
          <div>
            <input
              type="text"
              pInputText
              formControlName="companyName"
              placeholder="نام محل کار"
              class="w-8"
            />
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="fieldOfActivity"
              placeholder="زمینه فعالیت"
              class="w-8"
            />
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="jobTitle"
              placeholder="عنوان شغلی"
              class="w-8"
            />
          </div>
          <div>
            <label class="block">تاریخ شروع به کار</label>
            <p-calendar
              formControlName="startDate"
              [showIcon]="true"
              inputId="icon"
              class="w-8"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
          <div>
            <label class="block">تاریخ خاتمه به کار</label>
            <p-calendar
              formControlName="endDate"
              [showIcon]="true"
              inputId="icon"
              class="w-8"
              dateFormat="dd/mm/yy"
            ></p-calendar>
          </div>
          <div>
            <input
              type="text"
              pInputText
              formControlName="description"
              placeholder="Reason You Left"
              class="w-8"
            />
          </div>
          <div>
            <label class="block">رضایت نامه</label>
            <p-dropdown
              [options]="consentLetter"
              formControlName="consentLetter"
              optionLabel="name"
              optionDisabled="inactive"
              class="w-4"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div>
        <input
          type="text"
          pInputText
          formControlName="captchaCode"
          placeholder="Enter Captcha"
          class="w-8"
        />
      </div>
      <div>
        <textarea
          pInputTextarea
          formControlName="description"
          placeholder="Description"
          class="w-10"
        ></textarea>
      </div>
    </div>
    <div class="flex justify-content-center align-items-center mb-2">
      <button
        pButton
        pRipple
        label="Submit"
        icon="pi pi-check"
        [disabled]="!mainFormGroup.valid"
      ></button>
    </div>
  </form>
</main>
