<main class="w-full h-full bg-white">
  <h6 class="col-9 ml-8 mt-8 mb-4 rtl text-right" dir="rtl">
    <span
      style="color: #aa0304; background: #aa0304; font-size: 16pt"
      class="mr-1"
      >.</span
    ><span style="color: #000; font-size: 16pt" class="mr-1 font-medium"
      >تحلیلگر مالی</span
    >
  </h6>
  <form
    [formGroup]="mainFormGroup"
    class="col-8 h-full ml-8"
    (ngSubmit)="submit()"
  >
    <div id="persoanl-info" class="col-12 mx-auto" formGroupName="personalInfo">
      <h2 class="rtl" dir="rtl" style="color: #aa0304">مشخصات فردی</h2>
      <div class="my-2 rtl" dir="rtl">
        <label class="inline ml-2 my-2 text-base font-semibold" requiredAsterisk
          >جنسیت</label
        >
        <p-dropdown
          [options]="gender"
          formControlName="gender"
          optionLabel="name"
          optionDisabled="inactive"
        ></p-dropdown>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >نام</label
        >
        <input
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="First Name"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            personalInfoFG?.get('firstName')?.invalid &&
            (personalInfoFG?.get('firstName')?.dirty ||
              personalInfoFG?.get('firstName')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >نام خانوادگی</label
        >
        <input
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Last Name"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            personalInfoFG?.get('lastName')?.invalid &&
            (personalInfoFG?.get('lastName')?.dirty ||
              personalInfoFG?.get('lastName')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >تاریخ تولد</label
        >
        <p-calendar
          formControlName="birthDate"
          [showIcon]="true"
          inputId="icon"
          class="w-full md:w-8"
          dateFormat="yy/mm/dd"
        ></p-calendar>
        <div
          *ngIf="
            personalInfoFG?.get('birthDate')?.invalid &&
            (personalInfoFG?.get('birthDate')?.dirty ||
              personalInfoFG?.get('birthDate')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
        <div
          *ngIf="
            !isBirthDateValid &&
            (personalInfoFG?.get('birthDate')?.dirty ||
              personalInfoFG?.get('birthDate')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! تاریخ وارد شده صحیح نمیباشد .</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >محل تولد</label
        >
        <input
          type="text"
          pInputText
          formControlName="placeOfBirth"
          placeholder="Place Of Birth"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            personalInfoFG?.get('placeOfBirth')?.invalid &&
            (personalInfoFG?.get('placeOfBirth')?.dirty ||
              personalInfoFG?.get('placeOfBirth')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >کد ملی</label
        >
        <p-inputNumber
          formControlName="nationalCode"
          placeholder="National Code"
          [useGrouping]="false"
          class="w-full md:w-8"
        ></p-inputNumber>
        <div
          *ngIf="
            personalInfoFG?.get('nationalCode')?.invalid &&
            (personalInfoFG?.get('nationalCode')?.dirty ||
              personalInfoFG?.get('nationalCode')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
        <div
          *ngIf="
            !isNationalCodeValid &&
            (personalInfoFG?.get('nationalCode')?.dirty ||
              personalInfoFG?.get('nationalCode')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! کد ملی وارد شده صحیح نمیباشد.</small
          >
        </div>
      </div>
      <div class="grid align-items-center flex-row-reverse my-2">
        <label
          class="col-3 text-base rtl font-semibold"
          dir="rtl"
          requiredAsterisk
          >وضعیت تاهل</label
        >
        <p-radioButton
          name="marriageStatus"
          value="married"
          label="متاهل"
          formControlName="marriageStatus"
          class="col-3 flex-row-reverse"
          labelStyleClass="mx-3"
        ></p-radioButton>
        <p-radioButton
          name="marriageStatus"
          value="notMarried"
          label="مجرد"
          formControlName="marriageStatus"
          class="col-3 flex-row-reverse"
          labelStyleClass="mx-3"
        ></p-radioButton>
        <div class="col-3"></div>
        <div
          *ngIf="
            personalInfoFG?.get('marriageStatus')?.invalid &&
            (personalInfoFG?.get('marriageStatus')?.dirty ||
              personalInfoFG?.get('marriageStatus')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>

      <div
        *ngIf="personalInfoFG?.get('gender')?.value.code === 1"
        class="my-2 rtl"
        dir="rtl"
      >
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >وضعیت نظام وظیفه</label
        >
        <p-dropdown
          [options]="militaryServiceStatus"
          formControlName="militeryStatus"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
        <div
          *ngIf="
            personalInfoFG?.get('militeryStatus')?.invalid &&
            (personalInfoFG?.get('militeryStatus')?.dirty ||
              personalInfoFG?.get('militeryStatus')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>

      <div class="my-2 rtl" dir="rtl">
        <label class="block my-4 font-semibold" requiredAsterisk
          >شهر محل سکونت</label
        >
        <input
          type="text"
          pInputText
          formControlName="lodging"
          placeholder="Lodging"
          class="w-full md:w-8"
        />
        <div
          class="my-2"
          *ngIf="
            personalInfoFG?.get('lodging')?.invalid &&
            (personalInfoFG?.get('lodging')?.dirty ||
              personalInfoFG?.get('lodging')?.touched)
          "
        >
          <small class="p-error font-semibold my-3 text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >محله محل سکونت</label
        >
        <input
          type="text"
          pInputText
          formControlName="neighborhood"
          placeholder="Neighborhood"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            personalInfoFG?.get('neighborhood')?.invalid &&
            (personalInfoFG?.get('neighborhood')?.dirty ||
              personalInfoFG?.get('neighborhood')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >تلفن همراه</label
        >
        <p-inputNumber
          formControlName="phoneNumber"
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
        >
        </p-inputNumber>

        <div
          *ngIf="
            personalInfoFG?.get('phoneNumber')?.invalid &&
            (personalInfoFG?.get('phoneNumber')?.dirty ||
              personalInfoFG?.get('phoneNumber')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
        <div
          *ngIf="
            !isPhoneNumberValid &&
            (personalInfoFG?.get('phoneNumber')?.dirty ||
              personalInfoFG?.get('phoneNumber')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! شماره موبایل وارد شده صحیح نمیباشد.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >ایمیل</label
        >
        <input
          type="text"
          pInputText
          formControlName="email"
          placeholder="Email"
        />
        <div
          *ngIf="
            personalInfoFG?.get('email')?.invalid &&
            (personalInfoFG?.get('email')?.dirty ||
              personalInfoFG?.get('email')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! ایمیل مورد تایید نیست.</small
          >
        </div>
      </div>
    </div>
    <div id="ed-bg" class="col-12 mx-auto" formGroupName="educationalInfo">
      <h2 class="rtl" dir="rtl" style="color: #aa0304">سوابق تحصیلی</h2>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >آخرین مدرک تحصیلی</label
        >
        <p-dropdown
          [options]="educationGrade"
          formControlName="lastEducationalGrade"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
        <div
          *ngIf="
            educationalInfoFG?.get('lastEducationalGrade')?.invalid &&
            (educationalInfoFG?.get('lastEducationalGrade')?.dirty ||
              educationalInfoFG?.get('lastEducationalGrade')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >رشته تحصیلی</label
        >
        <input
          type="text"
          pInputText
          formControlName="major"
          placeholder="رشته تحصیلی"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            educationalInfoFG?.get('major')?.invalid &&
            (educationalInfoFG?.get('major')?.dirty ||
              educationalInfoFG?.get('major')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >نام موسسه اموزشی</label
        >
        <input
          type="text"
          pInputText
          formControlName="nameOfFacility"
          placeholder="نام موسسه آموزشی"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            educationalInfoFG?.get('nameOfFacility')?.invalid &&
            (educationalInfoFG?.get('nameOfFacility')?.dirty ||
              educationalInfoFG?.get('nameOfFacility')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >شهر محل تحصیل</label
        >
        <input
          type="text"
          pInputText
          formControlName="facilityLocation"
          placeholder="شهر محل تحصیل"
          class="w-full md:w-8"
        />
        <div
          *ngIf="
            educationalInfoFG?.get('facilityLocation')?.invalid &&
            (educationalInfoFG?.get('facilityLocation')?.dirty ||
              educationalInfoFG?.get('facilityLocation')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >تاریخ فراغت از تحصیل</label
        >
        <p-calendar
          formControlName="graduationDate"
          [showIcon]="true"
          inputId="icon"
          class="w-full md:w-8"
          dateFormat="yy/mm/dd"
        ></p-calendar>
        <div
          *ngIf="
            educationalInfoFG?.get('graduationDate')?.invalid &&
            (educationalInfoFG?.get('graduationDate')?.dirty ||
              educationalInfoFG?.get('graduationDate')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
        <div
          *ngIf="
            !isGradudationDateValid &&
            (educationalInfoFG?.get('graduationDate')?.dirty ||
              educationalInfoFG?.get('graduationDate')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! تاریخ وارد شده صحیح نمیباشد.</small
          >
        </div>
      </div>
      <div class="grid checkbox my-2 rtl" dir="rtl">
        <h2 class="col-12 rtl" dir="rtl" style="color: #aa0304">
          گواهینامه های بورسی
        </h2>
        <p-checkbox
          class="col-12 md:col-3 my-2 my-2"
          name="stockCertificates"
          value="cert1"
          formControlName="stockCertificates"
          label="اصول بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert2"
          formControlName="stockCertificates"
          label="مدیریت نهادهای بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert3"
          formControlName="stockCertificates"
          label="کارشناسی عرضه و پذیرش"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert4"
          formControlName="stockCertificates"
          label="تحلیل گری بازار سرمایه"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert5"
          formControlName="stockCertificates"
          label="ارزشیابی اوراق بهادار"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert6"
          formControlName="stockCertificates"
          label="مدیریت سبد اوراق بهادار"
        ></p-checkbox>
        <p-checkbox
          class="col-12 md:col-3 my-2"
          name="stockCertificates"
          value="cert7"
          formControlName="stockCertificates"
          label="معامله گری بازار سرمایه"
        ></p-checkbox>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <textarea
          pInputTextarea
          formControlName="otherCertificates"
          placeholder="سایر دوره ها"
          class="w-full md:w-8"
        ></textarea>
      </div>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk
          >آشنایی با زبان انگلیسی</label
        >
        <p-dropdown
          [options]="englishKnowledge"
          formControlName="englishKnowledge"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
        <div
          *ngIf="
            educationalInfoFG?.get('englishKnowledge')?.invalid &&
            (educationalInfoFG?.get('englishKnowledge')?.dirty ||
              educationalInfoFG?.get('englishKnowledge')?.touched)
          "
        >
          <small class="p-error font-semibold mt-2 block text-base"
            >! پر کردن این فیلد اجباریست.</small
          >
        </div>
      </div>
    </div>
    <div id="work-exp" class="col-12 mx-auto" formGroupName="workExperience">
      <h2 class="rtl" dir="rtl" style="color: #aa0304">سوابق کاری</h2>
      <div class="my-2 rtl" dir="rtl">
        <label class="block text-base font-semibold my-3" requiredAsterisk>
          سابقه کاری</label
        >
        <p-dropdown
          [options]="workExperience"
          formControlName="availability"
          optionLabel="name"
          optionDisabled="inactive"
          class="w-4"
        ></p-dropdown>
      </div>
      <div *ngIf="isWorkExpAvailable">
        <div id="job-1" formGroupName="job1" class="rtl" dir="rtl">
          <h2 class="block">
            سابقه فعالیت کاری خود در دو محل کاری قبلی خود را اعلام نمایید:
          </h2>
          <label
            class="block text-base font-semibold my-4"
            style="color: #aa0304"
            >محل کار شماره 1</label
          >
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >نام محل کار</label
            >
            <input
              type="text"
              pInputText
              formControlName="companyName"
              placeholder=""
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job1FG?.get('companyName')?.invalid &&
                (job1FG?.get('companyName')?.dirty ||
                  job1FG?.get('companyName')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >زمینه فعالیت</label
            >
            <input
              type="text"
              pInputText
              formControlName="fieldOfActivity"
              placeholder=""
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job1FG?.get('fieldOfActivity')?.invalid &&
                (job1FG?.get('fieldOfActivity')?.dirty ||
                  job1FG?.get('fieldOfActivity')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >عنوان شغلی</label
            >
            <input
              type="text"
              pInputText
              formControlName="jobTitle"
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job1FG?.get('jobTitle')?.invalid &&
                (job1FG?.get('jobTitle')?.dirty ||
                  job1FG?.get('jobTitle')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2">
            <div>
              <label class="block text-base font-semibold my-3" requiredAsterisk
                >تاریخ شروع به کار</label
              >
              <p-calendar
                formControlName="startDate"
                [showIcon]="true"
                inputId="icon"
                class="w-full md:w-8"
                dateFormat="yy/mm/dd"
              ></p-calendar>
              <div
                *ngIf="
                  job1FG?.get('startDate')?.invalid &&
                  (job1FG?.get('startDate')?.dirty ||
                    job1FG?.get('startDate')?.touched)
                "
              >
                <small class="p-error font-semibold mt-2 block text-base"
                  >! پر کردن این فیلد اجباریست.</small
                >
              </div>
            </div>
            <div>
              <label class="block text-base font-semibold my-3" requiredAsterisk
                >تاریخ خاتمه به کار</label
              >
              <p-calendar
                formControlName="endDate"
                [showIcon]="true"
                inputId="icon"
                class="w-full md:w-8"
                dateFormat="yy/mm/dd"
              ></p-calendar>
            </div>
            <div
              *ngIf="
                !isWorkExpDateValid &&
                (job1FG?.get('startDate')?.dirty ||
                  job1FG?.get('startDate')?.touched) &&
                (job1FG?.get('endDate')?.dirty ||
                  job1FG?.get('endDate')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >تاریخ وارد شده صحیح نمیباشد</small
              >
            </div>
          </div>

          <div>
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >علت خاتمه به کار</label
            >
            <input
              type="text"
              pInputText
              formControlName="description"
              placeholder=""
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job1FG?.get('description')?.invalid &&
                (job1FG?.get('description')?.dirty ||
                  job1FG?.get('description')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div>
            <label class="block text-base font-semibold my-3">رضایت نامه</label>
            <p-dropdown
              [options]="consentLetter"
              formControlName="consentLetter"
              optionLabel="name"
              optionDisabled="inactive"
              class="w-4"
            ></p-dropdown>
          </div>
        </div>
        <div id="job-2" formGroupName="job2" class="rtl" dir="rtl">
          <label
            class="block text-base font-semibold my-4"
            style="color: #aa0304"
            >محل کار شماره 2</label
          >
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >نام محل کار</label
            >
            <input
              type="text"
              pInputText
              formControlName="companyName"
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job2FG?.get('description')?.invalid &&
                (job2FG?.get('description')?.dirty ||
                  job2FG?.get('description')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >زمینه فعالیت</label
            >

            <input
              type="text"
              pInputText
              formControlName="fieldOfActivity"
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job2FG?.get('fieldOfActivity')?.invalid &&
                (job2FG?.get('fieldOfActivity')?.dirty ||
                  job2FG?.get('fieldOfActivity')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2 rtl" dir="rtl">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >عنوان شغلی</label
            >
            <input
              type="text"
              pInputText
              formControlName="jobTitle"
              class="w-full md:w-8"
            />
            <div
              *ngIf="
                job2FG?.get('jobTitle')?.invalid &&
                (job2FG?.get('jobTitle')?.dirty ||
                  job2FG?.get('jobTitle')?.touched)
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >! پر کردن این فیلد اجباریست.</small
              >
            </div>
          </div>
          <div class="my-2">
            <div>
              <label class="block text-base font-semibold my-3" requiredAsterisk
                >تاریخ شروع به کار</label
              >
              <p-calendar
                formControlName="startDate"
                [showIcon]="true"
                inputId="icon"
                class="w-full md:w-8"
                dateFormat="yy/mm/dd"
              ></p-calendar>
            </div>
            <div>
              <label class="block text-base font-semibold my-3" requiredAsterisk
                >تاریخ خاتمه به کار</label
              >
              <p-calendar
                formControlName="endDate"
                [showIcon]="true"
                inputId="icon"
                class="w-full md:w-8"
                dateFormat="yy/mm/dd"
              ></p-calendar>
            </div>
            <div
              *ngIf="
                job2FG?.get('job2.endDate')?.invalid &&
                job2FG?.get('job2.startDate')?.invalid &&
                !isWorkExpDateValid
              "
            >
              <small class="p-error font-semibold mt-2 block text-base"
                >تاریخ وارد شده صحیح نمیباشد</small
              >
            </div>
          </div>
          <div class="my-2">
            <label class="block text-base font-semibold my-3" requiredAsterisk
              >علت خاتمه به کار</label
            >
            <input
              type="text"
              pInputText
              formControlName="description"
              class="w-full md:w-8"
            />
          </div>
          <div class="my-2">
            <label class="block text-base font-semibold my-3">رضایت نامه</label>
            <p-dropdown
              [options]="consentLetter"
              formControlName="consentLetter"
              optionLabel="name"
              optionDisabled="inactive"
              class="w-4"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mx-auto rtl" dir="rtl">
      <textarea
        pInputTextarea
        formControlName="description"
        placeholder="توضیحات"
        class="w-7"
      ></textarea>
    </div>
    <div class="col-12 mx-auto rtl" dir="rtl">
      <label class="ml-2 font-semibold" requiredAsterisk
        ><b>کد امنیتی زیر را وارد نمایید</b></label
      >
      <input
        type="text"
        pInputText
        formControlName="captchaCode"
        placeholder="کد کپچا"
      />
    </div>
    <div
      class="col-12 mx-auto mb-8 text-right flex justify-content-end align-items-center"
    >
      <button
        pButton
        pRipple
        label="Submit"
        icon="pi pi-check"
        [disabled]="!mainFormGroup.valid"
        style="background-color: #aa0304; color: #fff"
      ></button>

      <a class="px-5">
        <span>{{ captchaValue }} </span>
      </a>
    </div>
  </form>
</main>
